    <div class="span-15">
		<div class="lead">
		    <h1>Tired of lyrics Sites That Shove Ads and Popups Down Your Throat?</h1>
		    <h2>Yea, we were too!</h2>
		</div>

        <h2>What is Lyricist?</h2>
        
        <p>Lyricists is a <strong>totally free</strong> and <strong>extremely simple</strong> community based Lyrics site. We allow our members to create new lyrics, modify existing lyrics, and discuss the meaning of the lyrics all without having advertisements or have popups crammed down your throat like all the other circa 1995 lyrics sites out there. </p>
        
        <div class="statistics" style="font-weight: bold; text-align: center; font-size: 16px">
            <p>
                There are currently 
                <span class="number" style="color: red; font-size: 18px;"><%= Artist.count %></span> artists, 
                <span class="number"><%= Album.count %></span> albums, <br/>
                <span class="number"><%= Song.count %></span> songs, and
                <span class="number"><%= Lyric.count %> lyrics!
            </p>
        </div>
    </div>

    <div class="span-9 last rail">
	
		<%= render :partial => '/shared/login_box' unless logged_in? %>
		
    </div>
