<div class="span-16 body">
<h1>Editing lyric</h1>

<% form_for(@lyric, :html => { :class => "bigform" }) do |f| %>
    <%= f.error_messages %>
    
    <div class="textfields">
        <div class="clearfix">
            <label>Artist</label>
            <input type="text" id="artist_name" name="artist[name]" value="<%= @lyric.song.artist.name if @lyric.song.artist %>" />
        </div>
        
        <div class="clearfix">
            <label>Album</label>
            <input type="text" id="album_name" name="album[name]" value="<%= @lyric.song.album.name if @lyric.song.album %>"/>
        </div>

        <div class="clearfix">
            <label>Title</label>
            <input type="text" id="song_title" name="song[title]" value="<%= @lyric.song.title if @lyric.song %>" />
        </div>
    </div>
    
    <div class="textarea">
        <div class="clearfix">
            <%= f.label :text, "Lyrics" %>
            <%= f.text_area :text %>          
        </div> 
    </div>
    
    <div class="buttons clearfix">
        <%= link_to "Cancel", lyrics_path %> | <%= f.submit "Update", :class => "green", :style => "width: 150px" %>
    </div>
<% end %>

<%= link_to 'Show', @lyric %> |
<%= link_to 'Back', lyrics_path %>

</div>

<div class="span-8 last rail">
</div>
