<div class="span-16">
    <div class="container">
        <div class="span-8">    
            <div class="box list">
                <h3>Popular Artists</h3>
                <div class="items">
                    <% @artists.each do |artist| %>
                        <div class="artist" id="artist-<%= artist.id %>">
                            <%= link_to artist.name, artist_path(artist) %>
                        </div>
                    <% end %>
                </div>
                
                <div class="actions">
                    <%= link_to "View All", artists_path %>
                </div>
            </div>
        </div>

        <div class="span-8 last">    
            <div class="box list">
                <h3>Popular Albums</h3>
                <div class="items">
                    <% @albums.each do |album| %>
                        <div class="album" id="album-<%= album.id %>">
                            <%= link_to album.name, album_path(album) %>
                        </div>
                    <% end %>
                </div>
        
                <div class="actions">
                    <%= link_to "View All", albums_path %>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <h3>Latest Lyrics</h3>
    </div>
</div>

<div class="span-8 last rail">
	<div class="box gray" style="min-height: 500px">
    	<p>most active songs</p>
    	<p>top songs lyrics</p>
    	<p>sidebar goes here</p>
    </div>
	
</div>