<div class="span-16 body">
	<h1>Add a new lyric</h1>

<% form_for(@lyric, :html => { :class => "bigform " }) do |f| %>
    <%= f.error_messages %>
    <div class="textfields">
        <div class="clearfix">
            <label>Artist</label>
            <input type="text" />
        </div>
        
        <div class="clearfix">
            <label>Album</label>
            <input type="text" />
        </div>

        <div class="clearfix">
            <label>Title</label>
            <input type="text" />
        </div>
                
        <div class="clearfix">
            <%= f.label :text, "Lyrics" %>
            <%= f.text_area :text %>          
        </div> 
    </div>  

    <div class="buttons clearfix">
        <%= link_to "Cancel", lyrics_path %> | <%= f.submit "Create", :class => "green", :style => "width: 150px" %>
    </div>

<% end %>

<%= link_to 'Back', user_lyrics_path(current_user) %>
</div>

<div class="span-8 last rail">
	<%= render :partial => "shared/generic_module" %>
	<%= render :partial => "shared/generic_module" %>
	<%= render :partial => "shared/generic_module" %>
</div>