<h1>New lyric</h1>

<% form_for([:user, @lyric]) do |f| %>
  <%= f.error_messages %>
  <%= f.label :text %>
  <%= f.text_field :text %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_lyrics_path(@user) %>
