<div class="span-16 body">
    <h1><%= @lyric.song.artist %> - <%= @lyric.song.album %></h1>
	<h2>
		<%= @lyric.song %>
		<% if logged_in? and @lyric.owner == current_user %>
    	    <span><%= link_to 'Edit', edit_user_lyric_path(current_user, @lyric) %></span>
    	<% end %>
	</h2>

    <div class="lyric">
	    <%= @lyric.to_html %>
	</div>

</div>

<div class="span-7 last rail">
    <div class="mod">
        <div class="bd">
            <ul>
        		<% if logged_in? and @lyric.owner == current_user %>
                    <li><%= link_to "Edit Lyrics", edit_lyric_path(@lyric) %>
                <% end %>
			</ul>
        </div>
    </div>

</div>