<h2 class="title">Log In to your Lyricist Account</h2>

<% form_tag session_path, :class => "bigform" do %>
    <div class="textfields">
        <div class="clearfix">
    		<%= label_tag 'login', 'Username' %>
    		<%= text_field_tag 'login', @login %>
		</div>
	    
	    <div class="clearfix">
			<%= label_tag 'password' %>
			<%= password_field_tag 'password', nil %>
	    </div>
    </div>
    
    <div class="checkboxes">
        <div class="clearfix">
			<%= check_box_tag 'remember_me', '1', @remember_me %>
			<%= label_tag 'remember_me', 'Remember Me' %>
        </div>
    </div>
    
    <h3>or use your OpenID Account ...</h3>
    
    
	<div class="textfields">
	    <div class="clearfix">
			<%= label_tag 'openid_url', 'OpenID URL' %>
			<%= text_field_tag 'openid_url' %>	        
	    </div>
	</div>

	<div class="buttons clearfix">
	    <%= link_to 'Forgot your password?', forgot_password_path %> | 
		<%= submit_tag 'Login', :class => "green", :style => "width: 150px" %>
	</div>
<% end -%>