<div class="span-16 body">
	<h1>Editing artist</h1>

<% form_for(@artist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :artist_name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>

<div class="span-8 last rail">
	<ul class="mod">
		<li><%= link_to 'Show', @artist %></li>
		<li><%= link_to 'Back', artists_path %></li>
	</ul>
</div>