<div class="span-18 body">
	<h1><%= @artist.name %></h1>

    <div class="span-9">    
        <%= render :partial => "shared/list_box", :locals => { :heading => "Albums", :records => @artist.albums } %>
    </div>

    <div class="span-9 last">
        <%= render :partial => "shared/list_box", :locals => { :heading => "Songs", :records => @artist.songs } %>
    </div>

</div>

<div class="span-8 last rail">
    <div class="mod">
    	<div class="bd">
            <%= link_to 'Add New Album', new_album_path %>
            <%= link_to 'Add New Song', new_song_path %>
    	</div>
    </div>
</div>