<div class="span-10 append-7 prepend-7">
<% @user.password = @user.password_confirmation = nil %>
<h1>Signup</h1>
<% form_for @user do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend>Your Details</legend>
		<ul>
			<li>
				<%= f.label :login, 'Username' %>
				<%= f.text_field :login %>
			</li>
			<li>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</li>
			<li>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</li>
			<li>
				<%= f.label :password_confirmation, 'Confirm Password' %>
				<%= f.password_field :password_confirmation %>
			</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Signup with OpenID</legend>
		<ol>
			<li>
				<label for="openid_url">OpenID URL</label>
				<%= text_field_tag :openid_url, params[:openid_url] || params['openid.identity'] %>
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
		<%= submit_tag 'Sign up' %>
	</div>
<% end %>
</div>
