<h1><%= @user.pretty_name %>'s Profile</h1>

<div class="span-16 body">
    <div class="span-9 biography append-1">
        <div class="span-4 image">
            <img src="/images/users/person_standard.gif" />
        </div>
            
        <div class="span-5 last append-1">
            <div class="statement">
                <% if @user.statement %>
                    "<%= @user.statement %>"
                <% else %>
                    "This user has not entered a personal statement."
                    <% if current_user == @user %>
                        Feel free to <%= link_to "do that here", edit_user_path(current_user) %>.
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="span-14 last">
        <div class="lyrics box gray">
            <h3>Recently Added Lyrics</h3>
            <% @recent_lyrics.each_with_index do |lyric, i| %>
                <div class="lyric <%= i % 2 == 0 ? 'odd' : 'even' %>" id="lyric-<%= lyric.id %>">
                    <div class="meta">
                        <span class="artist"><%= link_to lyric.song.artist.name, lyric.song.artist %></span> -
                        <span class="album"><%= link_to lyric.song.album.name, lyric.song.album %></span> -
                        <span class="title"><%= link_to lyric.song.title, lyric.song %></span>
                    </div>
                    
                    <div class="actions">
                        <%= link_to 'View Lyrics', lyric %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    
</div>


<div class="span-8 last rail">
	<%= render :partial => "shared/generic_module" %>
</div>