<div class="mod login">
    <h3>Member already? Log In below</h3>
    <p style="font-weight: bold; font-size: 1.5em; margin-bottom: .3em; text-align: right;"><a href="#" class="show_openid_form">Standard Login</a></p>
    
    <% form_tag session_path, :class => "basic" do %>
        <fieldset id="standard_login" style="display: none;">
            <div class="clearfix">
           		<%= label_tag 'login', 'Username' %>
           		<%= text_field_tag 'login', @login %>
            </div>
           
            <div class="clearfix">
       			<%= label_tag 'password' %>
       			<%= password_field_tag 'password', nil %>
   			</div>
		</fieldset>
		
		<fieldset id="openid_login" class="">
		    <div class="clearfix">
    			<%= label_tag 'openid_url', 'OpenID URL' %>
                <%= text_field_tag 'openid_url' %>
            </div>
        </fieldset>
        
    	<div class="buttons">
    		<%= submit_tag 'Login', :class => "green", :style => "width: 150px" %>
    	    <%= link_to 'Forgot Password?', forgot_password_path %>
    	</div>
    <% end %>
</div>
