<div class="span-12 mod login">
    <h3>Member already? Log In below</h3>
    
    <% form_tag session_path, :class => "basic" do %>
        <fieldset class="span-6">
       		<%= label_tag 'login', 'Username' %>
       		<%= text_field_tag 'login', @login %>

           
   			<%= label_tag 'password' %>
   			<%= password_field_tag 'password', nil %>
		</fieldset>
		
		<fieldset class="span-6 last">    
			<%= label_tag 'openid_url', 'or OpenID' %>
            <%= text_field_tag 'openid_url' %>
        </fieldset>
        
    	<div class="span-12 buttons">
    		<%= submit_tag 'Login', :class => "green", :style => "width: 150px" %>
    	    <%= link_to 'Forgot Password?', forgot_password_path %>
    	</div>
    <% end %>
</div>
