<div class="span-16 body">
	<h1>Editing song</h1>
    <% form_for(@song, :html => {:class => "bigform"} ) do |f| %>
      <%= f.error_messages %>
        <div class="textfields">
            <div class="clearfix">
                <%= f.label :song_title %>
                <%= f.text_field :title %>
            </div>
        
            <div class="clearfix">
                <%= f.label :artist_name %>
                <% fields_for @song.artist || Artist.new do |artist| %>
                  <%= artist.text_field :name %>
                <% end %>        
            </div>
        
            <div class="clearfix">
                <%= f.label :album_name %>
                <% fields_for @song.album || Artist.new do |album| %>
                  <%= album.text_field :name %>
                <% end %>        
            </div>
        </div>
    
        <div class="buttons span-16">
            <%= link_to "Cancel", @song %> | 
            <%= f.submit "Update", :class => "green" %>
        </div>
    <% end %>
</div>