<div class="span-16 body">

<h1>Listing Songs</h1>

	<div class="mod artists">
		<div class="bd">
			<ul>
			<% for song in @songs %>
				<li>
					<h2><%= link_to song.title, song %></h2>
				</li>
			<% end %>
			</ul>
		</div>
		
		<div class="ft">
			<%= will_paginate @songs %>
			<p><%= link_to "#{image_tag 'feed-icon-14x14.png'} Subscribe to the RSS feed", formatted_songs_path(:rss), :class => "feed"  %></p>
		</div>
	</div>
	
</div>

<div class="span-8 last rail">
    <div class="mod">
        <div class="actions">
            <%= link_to "Create a new song", new_song_path %>
        </div>
    </div>
    
	<%= render :partial => "shared/generic_module" %>
</div>
