<div class="span-17 body">
    <h1><%= link_to @song.artist.name, @song.artist %> </h1> 
    <h2><%= link_to @song.album.name, @song.album %> > <%= @song.title %> </h2>

    <% if @song.lyrics.empty? %>
        <p>This song does not currently have any lyrics. Why not get them started now?</p>
    <% end %>
</div>

<div class="span-7 last rail">
    <div class="mod">
        <div class="bd">
            <%= link_to "Create new lyrics", new_lyric_path %>
            <%= link_to "Edit this song", edit_song_path(@song) %>

        </div>
    </div>
    
	<%= render :partial => "shared/generic_module" %>
</div>