<div class="span-16 body">
	<h1>Listing albums</h1>

	<table>
	  <tr>
	    <th>Name</th>
	    <th>Artist</th>
		<th>show</th>
		<th>Edit</th>
		<th>Destroy</th>
	  </tr>

	<% for album in @albums %>
	  <tr>
	    <td><%= album.name %></td>
	    <td><%= album.artist.name if album.artist %></td>
	    <td><%= link_to 'Show', album %></td>
	    <td><%= link_to 'Edit', edit_album_path(album) %></td>
	    <td><%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<%= link_to 'New album', new_album_path %>

	<%= will_paginate @albums %>

</div>

<div class="span-8 last rail">
	<p>not sure what goes here but leaving some space</p>
</div>
