<div class="span-16 body">
	<h1>Listing Albums</h1>

	<div class="mod artists">
		<div class="bd">
			<ul>
				<% for album in @albums %>
				  <li>
				    <h2><%= link_to album.name, album %> - <%= album.artist.name if album.artist %></h2>
				  </li>
				<% end %>
			</ul>
		</div>
		<div class="ft">
			<%= will_paginate @albums %>
			<p>
                <%= link_to "#{image_tag 'feed-icon-14x14.png'} Subscribe to the RSS feed", formatted_albums_path(:rss), :class => "feed"  %>
            </p>
		</div>
	</div>

</div>

<div class="span-8 last rail">
    <div class="mod">
    	<div class="bd">
    	    <%= link_to "Add an Album", new_album_path %>
    	</div>
    </div>
</div>
