<div class="span-16 body">
<h1>New album</h1>

<% form_for(@album) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :album_name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :artist_name %>
    <% fields_for :artist do |artist| %>
      <%= artist.text_field :name %>
    <% end %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</div>

<div class="span-8 last rail">
	<ul class="mod">
		<li><%= link_to 'Back', albums_path %></li>
	</ul>
</div>