<h2 class="title"><%= link_to @album.artist.name, @album.artist %> - <%= @album.name %></h2>
<p>By <%= @album.artist.name if @album.artist %></p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
