<div class="span-16 body">
	<h1>Editing search</h1>

	<% form_for(@search) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :keywords %><br />
	    <%= f.text_field :keywords %>
	  </p>
	  <p>
	    <%= f.submit "Update" %>
	  </p>
	<% end %>

	<%= link_to 'Show', @search %> |
	<%= link_to 'Back', searches_path %>
</div>

<div class="span-8 last rail">
	<%= render :partial => "shared/generic_module" %>
</div>
