<div class="span-18 body">
	
	<h1>New search</h1>

	<% form_for(@search) do |f| %>
	  <%= f.error_messages %>

	  <p>
	    <%= f.label :keywords %><br />
	    <%= f.text_field :keywords %>
	  </p>
	  <p>
	    <%= f.submit "Create" %>
	  </p>
	<% end %>

	<%= link_to 'Back', searches_path %>
	
</div>

<div class="span-6 last rail">
	<%= render :partial => "shared/generic_module" %>
</div>