<div class="span-16 body">
<h1>Search Results <%= "(#{@results.size})" unless @results.empty? %></h1>

<% if @results.empty? %>
    <p>We were unable to find any lyrics matching your search criteria. Please <%= link_to "try again", searches_path %></p>
<% else %>
    <div class="results">
        <% @results.each do |lyric| %>
            <div class="result">
                <div class="meta">
                    <span class="artist">The Artist</span> - 
                    <span class="album">The Album</span> - 
                    <span class="title">The Title</span>
                </div>
            
                <div class="lyrics">
                    <%= lyric.text %>
                
                    <div class="more">
                        <%= link_to "View All", lyric_path(lyric) %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
</div>

<div class="span-8 last rail">
	<%= render :partial => "shared/generic_module" %>
</div>