<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title><%= @page_title || APP_CONFIG[:site_name] %> <%= ".::. #{controller.controller_name} - #{controller.action_name}" if RAILS_ENV == 'development' %></title>
		<meta name="description" content="Lyricist is your place to find, create, edit and share lyrics"/>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<%= stylesheet_link_tag 'screen' %>
		<%= stylesheet_link_tag 'forms', 'base'  %>
        
        <!--[if IE]>
          <link rel="stylesheet" href="<%= stylesheet_link_tag 'ie' %>" type="text/css" media="screen, projection">
        <![endif]-->
	    <%= javascript_include_tag 'jquery-1.2.6.js', 'jquery-ui-1.6rc2.js', 'jquery/lowpro.jquery.js', 'jquery/jquery.livequery.js' %>
	    <%= javascript_include_tag 'application.js' %>
	</head>
	<body class="<%= "#{controller.controller_name} #{controller.action_name}" %>">
		
		<div id="container" class="container">
			<div class="span-24 header">
			    <p class="span-9 brand"><%= link_to "Lyricist", root_path %></p>
			    <p class="span-9 tagline">you know the song, but what are the lyrics?</p>
    			

        				<ul class="span-6 last dashboard">
        					<% if logged_in? %>
        					    <li><%= link_to 'Logout', logout_path %></li>
								<li><%= link_to 'My Account', user_path(current_user) %>
        					<% else %>
							<li><%= link_to 'Login', login_path %></li>        					
							<li><%= link_to 'Signup', signup_path %></li>
        					<% end %>
        				</ul>

			</div>
		
			<div class="span-24 nav">
			    <ul class="span-13 append-5">
			        <li class="<%= 'current' if controller.controller_name == 'main' %>"><%= link_to "Home", root_path %></li>
			
					<li class="<%= 'current' if controller.controller_name == 'artists' %>"><%= link_to "Artists", artists_path %></li>
			
					<li class="<%= 'current' if controller.controller_name == 'albums' %>"><%= link_to "Albums", albums_path %></li>
		        
			        <li class="<%= 'current' if controller.controller_name == 'songs' %>"><%= link_to "Songs", songs_path %></li>
			
				 	<li class="<%= 'current' if controller.controller_name == 'users' %>"><%= link_to "Community", users_path %></li>
			    </ul>
			
				<% form_tag searches_path, :class => "span-6 last search" do  %>
                   	<%= text_field_tag :query %> 
                   	<input type="image" src="/images/search.png" />
			    <% end %>
			</div>

			<div class="span-24 content">
			    <% unless flash.empty? %>
				<div id="flash_messages">
				    <% flash.each do |key, value| %>
				        <div id="flash_message" class="alert <%= key %>">
				            <p><%= value %></p>
				        </div>
				    <% end %>
				</div>
				<% end %>
				<%= yield :layout %>
			</div>

			<div class="span-24 footer">
				<ul class="box span-5">
					<li><h3>About Lyricist</h3></li>
					<li>blah blah blah this is where we write a short note about lryicist blah blah this is that and that is this</li>
				</ul>
				
				<ul class="box span-5">
					<li><h3>this is a test</h3></li>
				    <li><%= link_to "Home", root_path %></li>
				    <li><%= link_to "Help &amp; FAQs", help_path %></li>
				    <li><%= link_to "About", about_path %></li>
				</ul>
				
				<ul class="box span-5">
					<li><h3>Lryicist is...</h3></li>
					<li><a href="http://bryanray.net">Bryan Ray</a></li>
					<li><a href="http://doug-march.com">Doug March</a></li>
					<li><a href="#">Paul</a></li>
					<li><a href="http://rayvinly.com">Raymond</a></li>
				</ul>
				
				<ul class="box span-5 last">
					<li><h3>Powered by:</h3></li>
					<li><a href="http://rubyonrails.org">Rails</a></li>
					<li><a href="http://jquery.com">jQuery</a></li>
					<li><a href="http://railsrumble.com">Rumble</a></li>
					<li><a href="http://linode.com">linode</a></li> 
					<li><a href="http://github.com">github</a></li>
					<li><a href="http://www.monsterenergy.com/">Monster</a></li>
					<li><a href="http://mountaindew.com">Mountain Dew</a></li>
					<li>and <a href="http://www.littledebbie.com/products/SwissCake.asp">Swiss Cake Rolls</a>!</li>					
				</ul>


			</div>
		</div>
	
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-1117404-8");
	pageTracker._trackPageview();
	</script>
	
	</body>
</html>
